---
  rules:
    semi: [2, "always"]
    curly: 2
    quotes: [2, "single"]
    strict: 2
    eol-last: 0
    no-underscore-dangle: 0
    handle-callback-err: 0

  env:
    node: true
    mocha: true
